
.editBtn {
  background: #1A1C1E;
  border-color: #3A3F42;
  color: #FFFFFF;
}

.closeBtn {
  background: #98A2A8;
  border-color: #B7c1c7;
  color: #000000;
}

.saveBtn {
  color: #FFFFFF;
  background: #438065;
  border-color: #3C7D57;
}

.cancelBtn {
  color: #FFFFFF;
  background: #9D492A;
  border-color: #864831;
}

.deleteBtn {
  border-color: #B95A39;
  color: #B95A39;
  background: transparent;
}

.addFieldBtn {
  background: #2F404B;
  border-color: #335060;
  color: #FFFFFF;
}