
.editBtn {
  background: #1A1C1E;
  border-color: #3A3F42;
  color: #FFFFFF;
}

.closeBtn {
  background: #98A2A8;
  border-color: #B7c1c7;
  color: #000000;
}

.saveBtn {
  color: #FFFFFF;
  background: #438065;
  border-color: #3C7D57;
}

.cancelBtn {
  color: #FFFFFF;
  background: #9D492A;
  border-color: #864831;
}

.deleteBtn {
  border-color: #B95A39;
  color: #B95A39;
  background: transparent;
}

.addFieldBtn {
  background: #2F404B;
  border-color: #335060;
  color: #FFFFFF;
}

.redCollectionCard {
  background: #B95A39;
  color: #FFFFFF;
}

.blueCollectionCard {
  background: #466679;
  color: #FFFFFF;
}

.greenCollectionCard {
  background: #5B9E77;
  color: #FFFFFF;
}

.yellowCollectionCard {
  background: #D0B63A;
  color: #FFFFFF;
}

.redItemCard {
  background: rgba(185, 90, 57, 0.8);
  color: #FFFFFF;
}

.blueItemCard {
  background: rgba(70, 102, 121, 0.8);
  color: #FFFFFF;
}

.greenItemCard {
  background: rgba(91, 158, 119, 0.8);
  color: #FFFFFF;
}

.yellowItemCard {
  background: rgba(208, 182, 58, 0.8);
  color: #FFFFFF;
}

.tr:nth-child(odd) {
  color: #FFFFFF;
  background-color: #1D1F20;
}

.tr:nth-child(even) {
  color: #FFFFFF;
  background-color: #282B2D;
}

.page {
  background-color: rgb(24, 26, 27)
}

.main {

    width: 85%;
    margin: 1rem auto;
    background-color: rgb(24, 26, 27);
    margin-bottom: 3rem;

}