
.editBtn {
  background: #FAFBFC;
  border-color:#D9DBDB
}

.closeBtn {
  background: #EFEFEF;
  border-color:#C2C2C2;
}

.saveBtn {
  color: #FFFFFF;
  background: #62AD81;
  border-color:#4b9d6d;
}

.cancelBtn {
  color: #FFFFFF;
  background: #CB613C;
  border-color:#AE5C40;
}

.deleteBtn {
  background: transparent;
  border-color:#CB613C;
  color: #CB613C;
}

.addFieldBtn {
  background: #B7C8D2;
  border-color:#9CB9CA;
  color: #000000;
}

.redCollectionCard {
  background: #CB613C;
  color: #FFFFFF;
}

.blueCollectionCard {
  background: #466679;
  color: #FFFFFF;
}

.greenCollectionCard {
  background: #62AD81;
  color: #FFFFFF;
}

.yellowCollectionCard {
  background: #F0D13F;
  color: #FFFFFF;
}

.redItemCard {
  background: #EBC6B9;
  color: #000000;
}

.blueItemCard {
  background: rgba(113, 148, 168, 0.37);
  color: #000000;
}

.greenItemCard {
background: #C6E0D1;
color: #000000;
}

.yellowItemCard {
  background: #F8EDBA;
  color: #000000;
}

.tr:nth-child(odd) {
  background-color: #E3E3E3;
}

.tr:nth-child(even) {
  background-color: #F7F7F7;
}

.page {
  background-color: white;

}

.main {

  width: 85%;
  margin: 1rem auto;
  background-color: white;
  margin-bottom: 3rem;

}

.input {
    min-width: 580px;
    background-color: transparent;
    outline: none;
    border: 1px solid grey;
    border-radius: 3px;
}