html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
}

button {
  margin: 10px 10px;
  border-radius: 5px;
  border: 1px solid;
}

table {
  border-spacing: 5px 5px;
  border-collapse: separate;
}


th {
  padding: 5px 50px;
  vertical-align: top;
  margin-right: 8px;
}

td {
  padding: 5px 35px;
}

.container {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  height: 100px;
  width: 150px;
  border-radius: 5px;
}

.tableContainer {
  width: 75%;
}